<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"

       xmlns:context="http://www.springframework.org/schema/context"

       xmlns:aop="http://www.springframework.org/schema/aop"

       xmlns:tx="http://www.springframework.org/schema/tx"

       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd

       http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd

        http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd

        http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

    <context:component-scan base-package="com.sc.spring"></context:component-scan>

    <!--读取属性文件-->
    <context:property-placeholder location="classpath:mongodb.properties"></context:property-placeholder>

    <mongo:mongo-client id="mongoClient" host="${mongodb.host}" port="${mongodb.port}"></mongo:mongo-client>

    <mongo:db-factory id="dbFactory" dbname="db202001" mongo-ref="mongoClient"></mongo:db-factory>

    <bean class="org.springframework.data.mongodb.core.MongoTemplate" id="mongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="dbFactory"></constructor-arg>
    </bean>


</beans>